<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>User</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
</head>
<body>
<div class="container my-2">

    <h3>Role List</h3>
    <a th:href="@{/roles/addnew}" class="btn btn-primary btn-sm mb-3" >Add Role</a>
    <table class = "table table-striped table-responsive-md">
        <thead>
        <tr>
            <th>Label</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="role:${roles_list}">
            <td th:text="${role.label}"></td>
            <td> <a th:href="@{/roles/showFormForUpdate/{id}(id=${role.id})}"
                    class="btn btn-primary">Update</a>
                <a th:href="@{/roles/deleteRole/{id}(id=${role.id})}"
                   class="btn btn-danger">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
