<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>User Management System</title>

    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h1>Role Management System</h1>
    <hr>
    <h2>Update Role</h2>

    <form action="#" th:action="@{/roles/save}" th:object="${role}"
          method="POST">
        <input type="hidden" th:field="*{id}" />

        <input type="text" th:field="*{label}" class="form-control mb-4 col-4">

        <button type="submit" class="btn btn-info col-2"> Update Role</button>
    </form>
    <hr>
    <a th:href = "@{/roles/}"> Back to Role List</a>
</div>
</body>
</html>
